node_modules/
.pnp
.pnp.js
.next/
out/
build/
dist/
.env
.env.local
.env.*.local
.env.production
.firebase/
firebase-debug.log
firestore-debug.log
.DS_Store
*.pem
.vercel
*.tsbuildinfo
.turbo/
coverage/
__pycache__/
*.pyc
*.egg-info/
.venv/
.wwebjs_auth/
.wwebjs_cache/
